/**
 * Add the correct box sizing in all browsers.
 */

*,
*::before,
*::after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

/**
 * Use own focus style in all browsers.
 */

:focus {
    outline-color: #eeb523;
}

/**
 * Instead body tag for the cascade.
 * 1. Prevent adjustments of font size after orientation changes in iOS.
 */

.page {
 margin: 0;
 font: 16px/1.4 "Open Sans", Helvetica, Arial, sans-serif;
 color: #111;
 background-color: #fff;
 -webkit-text-size-adjust: 100%; /* 1 */
     -ms-text-size-adjust: 100%;
         text-size-adjust: 100%;
}

/**
 * Instead (ul, ol, dl) tags for the cascade.
 * Remove the basics style in all browsers.
 */

.list {
 margin: 0;
 padding: 0;
 list-style: none;
}

/**
 * Wrap provide a means to center and horizontally pad contents.
 */

.wrap {
 max-width: 76.875rem;
 margin: 0 auto;
 padding: 0 1rem;
}
